@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.svg-group-1 {
  position: absolute;
  right: -488px;
  top: -333px;
}
.svg-group-2 {
  position: absolute;
  left: 63px;
  top: 69px;
}
.svg-star {
  &-1 {
    position: absolute;
    right: -100px;
    top: 77px;
  }
  &-2 {
    position: absolute;
    left: 25px;
    top: 770px;
  }
  &-3 {
    position: absolute;
    left: 40px;
    top: 822px;
  }
  &-6 {
    position: absolute;
    left: 1320px;
    top: 126px;
  }
  &-7 {
    position: absolute;
    left: 1277px;
    top: 93px;
  }
  &-8 {
    position: absolute;
    left: 1249px;
    bottom: 45px;
  }
  &-10 {
    position: absolute;
    left: 1319px;
    bottom: 65px;
  }
}
.header {
  background-color: rgb(225, 255, 143);
  height: 800px;
  position: relative;
  overflow: hidden;
  &__advisor {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3220px;
    &_block {
      display: flex;
      margin-top: 28px;
      &_text {
        display: flex;
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
        text-transform: uppercase;
        margin-left: 49px;
      }
      &_star {
        display: flex;
        margin-left: 51px;
      }
    }
  }
}
.welcome {
  &__message {
    position: relative;
    z-index: 2;
    width: 768px;
    padding-top: 196px;
    &_header {
      color: rgb(32, 32, 39);
      font-size: 64px;
      font-weight: 700;
      line-height: 78px;
      letter-spacing: 0px;
      text-align: left;
    }
    &_text {
      color: rgb(32, 32, 39);
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: left;
      margin-top: 24px;
    }
    &_button {
      margin-top: 48px;
      box-sizing: border-box;
      border: 1px solid rgb(32, 32, 39);
      border-radius: 60px;
      background: rgb(32, 32, 39);
      width: 247px;
      height: 66px;
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 600;
      line-height: 141.69%;
      letter-spacing: 0%;
      text-align: center;
    }
    &_button > a {
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 600;
      line-height: 141.69%;
      letter-spacing: 0%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin-top: 16px;
    }
    &_button:hover {
      cursor: pointer;
      background-color: white;
      color: black;
      a {
        cursor: pointer;
        background-color: white;
        color: black;
      }
    }
  }
}
.main {
  // z-index: -2;
  position: relative;
  background: rgb(32, 32, 39);
  overflow: hidden;
  &__message {
    position: relative;
    z-index: 2;
    padding-top: 94px;
    &_header {
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 64px;
      font-weight: 700;
      line-height: 78px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 24px;
      &_mobile {
        display: none;
      }
    }
    &_text {
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: left;
      width: 788px;
      height: 96px;
    }
  }
}
.games {
  height: auto;
  width: 100%;
  &__block {
    position: relative;
    z-index: 2;
    width: 1201px;
    padding-top: 72px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    color: rgb(32, 32, 39);
    &_card:hover {
      transform: scale(1.05);
      cursor: pointer;
      transition: transform 0.5s ease;
    }
    &_card {
      display: flex;
      height: 473px;
      border-radius: 30px;
      background-color: white;
      flex-direction: column;
      transition: transform 0.5s ease;
      &_image {
        &_1 {
          width: 100%;
          height: 314px;
          border-radius: 30px;
          background-image: url("../images/first-card.png");
        }
        &_2 {
          width: 100%;
          height: 314px;
          border-radius: 30px;
          background-image: url("../images/second-card.png");
        }
        &_3 {
          width: 100%;
          height: 314px;
          border-radius: 30px;
          background-image: url("../images/third-card.png");
        }
        &_4 {
          width: 100%;
          height: 314px;
          border-radius: 30px;
          background-image: url("../images/fourth-card.png");
        }
        &_5 {
          width: 100%;
          height: 314px;
          border-radius: 30px;
          background-image: url("../images/fifth-card.png");
        }
        &_6 {
          width: 100%;
          height: 314px;
          border-radius: 30px;
          background-image: url("../images/sixth-card.png");
        }
      }
      &_info {
        height: 159px;
        margin-left: 32px;
        margin-top: 32px;
        margin-bottom: 36px;
        margin-right: 32px;
        &_number {
          color: rgb(32, 32, 39);
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 500;
          line-height: 110%;
          letter-spacing: 0px;
          text-align: left;
          border-radius: 52.58px;
          background: rgb(247, 247, 247);
          display: inline-block;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 8px 16px 10px 16px;

          //Вместо width можно создать инлайн блок внутри флексбокса
        }
        &_text {
          color: rgb(32, 32, 39);
          font-family: Montserrat;
          font-size: 32px;
          font-weight: 700;
          line-height: 39px;
          letter-spacing: 0px;
          text-align: left;
          margin-top: 16px;
        }
        &_game-button {
          display: none;
        }
        &_description {
          display: none;
        }
      }
    }
  }
}
.mini {
  position: relative;
  &__header {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 46px;
    margin-bottom: 72px;
  }
  &__block {
    display: grid;
    gap: 32px;
    padding-bottom: 144px;
    grid-template-columns: repeat(1, minmax(50px, 1fr));
    &_card_reversed {
      display: flex;
      width: 1200px;
      height: 500px;
      border-radius: 30px;
      box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
      background: rgb(255, 255, 255);
      flex-direction: row-reverse;
    }
    &_card {
      display: flex;
      width: 1200px;
      height: 500px;
      border-radius: 30px;
      box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
      background: rgb(255, 255, 255);
      &_picture {
        &_1 {
          width: 50%;
          height: 500px;
          border-radius: 30px;
          background-image: url("../images/first-card.png");
        }
        &_2 {
          width: 50%;
          height: 500px;
          border-radius: 30px;
          background-image: url("../images/second-card.png");
        }
        &_3 {
          width: 50%;
          height: 500px;
          border-radius: 30px;
          background-image: url("../images/third-card.png");
        }
        &_4 {
          width: 50%;
          height: 500px;
          border-radius: 30px;
          background-image: url("../images/fourth-card.png");
        }
        &_5 {
          width: 50%;
          height: 500px;
          border-radius: 30px;
          background-image: url("../images/fifth-card.png");
        }
        &_6 {
          width: 50%;
          height: 500px;
          border-radius: 30px;
          background-image: url("../images/sixth-card.png");
        }
      }
      &_description {
        box-sizing: border-box;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10;
        padding: 48px;
        &_name {
          color: rgb(32, 32, 39);
          font-family: Montserrat;
          font-size: 48px;
          font-weight: 700;
          line-height: 59px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 24px;
        }
        &_text {
          color: rgb(32, 32, 39);
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 0px;
          text-align: left;
        }
        &_game-button {
          display: flex;
          margin-top: 36px;
          box-sizing: border-box;
          border: 1px solid rgb(32, 32, 39);
          border-radius: 60px;
          background: rgb(32, 32, 39);
          width: 247px;
          height: 66px;

          justify-content: space-around;
        }
        &_game-button > a {
          color: rgb(255, 255, 255);
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 600;
          line-height: 141.69%;
          letter-spacing: 0%;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          margin-top: 16px;
        }
        &_game-button:hover {
          cursor: pointer;
          background-color: white;
          color: black;
          a {
            cursor: pointer;
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
footer {
  display: flex;
  background-color: rgb(189, 237, 53);
  height: 150px;
  justify-content: center;
  align-items: center;
}
.footer__rights {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.mobile-star-1 {
  display: none;
}
.mobile-star-2 {
  display: none;
}
.mobile-star-3 {
  display: none;
}
.mobile-star-4 {
  display: none;
}
.mobile-star-5 {
  display: none;
}
@import "tablet";
@import "mobile";
